RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond $1 !^(index\.php|sources|ugauth|ugci|\.well-known|charts|application|system|store|img|_h5ai|personal|wedding|includes|upload|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]
